
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/
.posts {
	.slick-dots {
		display: flex;
		top: -2.5rem;
		bottom: auto;

		li {
			button {
				&:before {
					color: $theme-color;
					font-size: 0.75rem;
				}
			}
		}
	}
}


.post {
	position: relative;
	padding: 4rem;
	background-color: #f7f7ff;
	margin-bottom: 1.875rem;
	border-radius: 1rem;
}

.post-thumbnail {
	img {
		max-width: 100%;
		width: 100%;
	}

	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 4.5rem;
		left: 38%;

		img {
			max-width: calc(22vw - 1rem);
		}	
	}
}

.post-content {
	.entry-title {
		font-size: 2.375rem;
		font-weight: 400;
		color: $secondary;
		line-height: 1.35;
	}

	.entry-categories {
		a {
			font-size: 0.75rem;
			color: $theme-color;
			padding: 0.5rem 1rem;
			background-color: #d7d6f6;
			border-radius: 2rem;
		}
	}

	.entry-meta {
		a {
			font-size: 0.875rem;
			text-decoration: none;
			color: $dark;
		}
	}

	.entry-content {
		line-height: 2;
		margin-bottom: 4.5rem;
	}
}
