
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}


.about-banner {
	position: relative;
    bottom: -7rem;
    margin-top: -5rem;
}

.newsletter {
	padding-top: 6rem;
	padding-bottom: 7.5rem;
}