
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		line-height: 1.1;
		font-weight: 400;
		color: $secondary;
	}
}

.page-brand {
	background-image: url(../images/icons/banner-icon.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	min-width: 7rem;
	height: 4rem;
}