
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;

	.title {
		line-height: 1.1;
		font-weight: 400;
		color: $secondary;
	}

	a {
		display: inline-block;
		background-color: $theme-color;
		font-size: 0.875rem;
		color: $white;
		padding: 0.65rem 2.25rem;
		border-radius: 2rem;
		letter-spacing: 0.05rem;
	}
}

.page-brand {
	background-image: url(../images/icons/banner-icon.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	min-width: 7rem;
	height: 4rem;
}