
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	display: block;
	margin-bottom: 1rem;

	.icon-wrapper {		
		font-size: 0.875rem;
		font-weight: 700;
		color: #9289fe;
		text-transform: uppercase;
	}

	.icon-header {
		h4 {
			font-size: 1.875rem;
		}

		p {
			color: $dark;
		}
	}
}