.logos {
	display: flex;
	justify-content: space-between;

	.logo-item {
		border-radius: 0.3125rem;
		max-width: 9.625rem;
		height: 10.25rem;
		width: 100%;		
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}
	}
} 